body{
    background-color: darkred;
}
#frm{
    height: 1100px;
    width: 50%;
    box-shadow: 10px 10px 10px;
    margin-left: 25%;
    background-color: slategray;
    font-size: 20px;
    /* padding-left: 300px; */
}
h1{
    padding-top: 10px;
    text-align: center;
}
button{
    width: 80%;
    margin-left: 10%;
    height: 40px;
    background-color: burlywood;
    font-size: 15px;
}
.ab{
    width: 60%;
    margin-top: 4px;
    margin-left: 18%;
}
.rc{
    margin-left: 18%;
}
select{
    width: 60%;
    margin-top: 6px;
    margin-left: 18%;
}
textarea{
    width: 60%;
    margin-top: 4px;
    margin-left: 18%;
}
.a{
    margin-left: 18%;
}